<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Editar</title>
</head>
<body>

<h1>Editar restaurant</h1>
<a th:href="@{/}">Regresar</a>
<br/>
<form th:action = "@{/update}" method="POST" th:object= "${restaurant}">
<label for = "id"> Id: </label>
<input type="text" name = "id" th:field="*{id}"/>
<br/>
<label for = "nombre"> nombre: </label>
<input type="text" name = "nombre" th:field="*{nombre}"/>
<br/>
<label for = "telefono"> Telefono: </label>
<input type="text" name = "telefono" th:field="*{telefono}"/>
<br/>
<label for = "direccion"> Direccion: </label>
<input type="text" name = "direccion" th:field="*{direccion}"/>
<br/>

<input type="submit" name="editar" value="Editar"/>
</form>

</body>
</html>