<html>
<head>
<meta charset="ISO-8859-1">
<title>Editar</title>
</head>
<body>

<h1>editar AutoVw</h1>
<a th:href="@{/AutoVwControl/}">Regresar</a>
<br/>
<form th:action = "@{/AutoVwControl/update}" method="POST" th:object= "${autoVw}">
<label for = "id"> Id: </label>
<input type="text" name = "id" th:field="*{id}"/>
<br/>
<label for = "modelo"> modelo: </label>
<input type="text" name = "modelo" th:field="*{modelo}"/>
<br/>
<label for = "marca"> Marca: </label>
<input type="text" name = "marca" th:field="*{marca}"/>
<br/>
<label for = "precio"> Precio: </label>
<input type="text" name = "precio" th:field="*{precio}"/>
<br/>
<label for = "color"> Color: </label>
<input type="text" name = "color" th:field="*{color}"/>
<br/>


<input type="submit" name="editar" value="Editar"/>
</form>

</body>
</html>